body {
  background: #fafafa;
  font-family: "Courier", Helvetica, Arial, sans-serif;
  color: #333;
}
body, html {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
.container {
  margin: 10vh auto;
  padding: 5vh 5vw;
  width: 80vw;
  font-size: 1rem;
  font-weight: 200;
  background-color: #eee;
}

